body {
    margin: 0px;
    padding: 0px;
}

#header{

}
/*
#menuSection
{
    box-sizing:border-box;
    width: 200px;
    margin-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: top;
    
    background: white;
    
    border-right-style: solid;
    border-right-width: 1px;
    border-color: lightgray;
}
#menu
{

}*/
#menu-wrap
{
    height: 45px;
}

#content{
    box-sizing:border-box;
    width: 960px;

    font-size: large;
    background: white;
    background-color: #F2F7FF;
    color: #282828;

    overflow-y: scroll;
    
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    
    border-color: lightgrey;
 
}

#footer {
    background: #202020;
    color: white;
   
}
textarea
{
    border-color: lightgrey;
    border-style: solid;
    font-size: large;
    color: #282828;
  
}
input[type=text]
{
    border-color: lightgrey;
    border-style: solid;
    height: 25px;
    font-size: large;
    color: #282828;
}
select
{
    border-color: lightgrey;
    border-style: solid;
    height: 25px;
    font-size: large;
    color: #282828;
}

hr
{
    border-top-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    
    border-color: lightgray;
    margin: 0px;
    padding: 0px;
}
.section
{
    padding-left: 10px;
    padding-top: 5px; padding-bottom: 5px;
    
}

